<div class="container">
  <div class="card mx-auto border-0 mt-3 shadow">
    <header>Registration</header>
    <div class="desc bg-light">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus distinctio
      tempora voluptas aliquam commodi adipisci, fuga ex dolores error non eum
      quo similique deserunt sed inventore, molestias corrupti dicta quibusdam.
    </div>

    <body>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="content">
          <app-dynamic-form-group
            *ngFor="let control of controls"
            [fControl]="control"
            [form]="form"
          ></app-dynamic-form-group>
        </div>
        {{ form.value | json }}
        <footer>
          <button class="btn btn-outline-secondary me-2">Back</button>
          <button class="btn btn-outline-secondary me-2" type="submit">
            Save
          </button>
          <button class="btn btn-primary">Next</button>
        </footer>
      </form>
    </body>
  </div>
</div>
